@{
    ViewBag.Title = "Error occurred";
}
@ViewBag.Message

<h1>We have a problem</h1>

<p>Sorry, an error occurred while executing your request. The SpaceX API is not responding</p>
<p>Plese, try again later!</p>
<div class="space-pic">
    <img src="https://miro.medium.com/max/3780/1*teBtR_0pirBnX4nURoMvLA.jpeg" width="1135" height="500"/>
</div>