
@model CSharpSpaceXApp.Models.Launch

@{
    ViewBag.Title = "Latest Launch";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Latest SpaceX launch plan</h2>
        <br>

<body>
    <div class="space-img">
        <img src="https://i.pinimg.com/originals/05/86/00/058600c7547504c3b05ce46ef6fb901d.jpg" width="350" height="500" />
    </div>
    <pre>@Model.ToString()</pre>

    <hr />

    @using (Html.BeginForm("ExportLatestLaunch", "File", FormMethod.Post))
    {
        <input type="hidden" name="OneLaunch" />
        <input type="submit" id="btnSubmit" value="Export" />
    }
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='LatestLaunch']").val($("#Grid").html());
            });
        });
    </script>
</body>

<style>
    .custom-text {
        font-family: Candara;
        font-size: large;
        text-align: justify;
        text-justify: inter-word;
    }
    pre {
        word-wrap: break-word;
        white-space: pre-wrap;
        text-align: justify
    }
    .space-img {
        float:right;
    }
</style>





