@{
    ViewBag.Title = "Home Page";
}

<div class="front-image">
    <img src="https://camo.githubusercontent.com/1ae1f0477d572b88998f5e6668d8a416e2c2de97/68747470733a2f2f6c6976652e737461746963666c69636b722e636f6d2f36353533352f34393138353134393132325f333766356335326534335f6b2e6a7067" width="1135" height="500">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Upcoming information</h2>
        <div class="custom-text">
            If you like to see the launch plan for the upcoming SpaceX flights, pleace follow the link.
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </div>
        <br>
        <p><a class="btn btn-default" href="https://localhost:44348/UpcomingLaunches/Upcoming">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Latest Launch</h2>
        <div class="custom-text">NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</div>
        <br>
        <p><a class="btn btn-default" href="https://localhost:44348/LatestLaunch/Latest">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Next Launch</h2>
        <div class="custom-text">You can easily find a web hosting company that offers the right mix of features and price for your applications.</div>
        <br>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<style>
    .custom-text {
        font-family: Candara;
        font-size: medium;
        text-align: justify;
        text-justify: inter-word;
    }
</style>