@{
    ViewBag.Title = "Home Page";
}

<div class="front-image">
    <img src="https://camo.githubusercontent.com/1ae1f0477d572b88998f5e6668d8a416e2c2de97/68747470733a2f2f6c6976652e737461746963666c69636b722e636f6d2f36353533352f34393138353134393132325f333766356335326534335f6b2e6a7067" width="1135" height="500">
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Upcoming launches</h3>
        <div class="custom-text">
            If you like to see the launch plan for the upcoming SpaceX flights, please follow the link.
            For all excited space lovers who track the upcoming launches.
        </div>
        <br>
        <p><a class="btn btn-default" href="https://localhost:44348/UpcomingLaunches/Upcoming">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Latest Launch</h3>
        <div class="custom-text">Take a look at the latest launch. All the information you are searching for, just follow the link.</div>
        <br>
        <p><a class="btn btn-default" href="https://localhost:44348/LatestLaunch/Latest">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Next Launch</h3>
        <div class="custom-text">You can easily find the next coming launch, here on our website. Just click the button below.</div>
        <br>
        <p><a class="btn btn-default" href="https://localhost:44348/NextLaunch/Next">Learn more &raquo;</a></p>
    </div>
</div>

<style>
    .custom-text {
        font-family: Candara;
        font-size: medium;
        text-align: justify;
        text-justify: inter-word;
    }
</style>